PRODUCTION_DATABASE_URL=enter-your-production-database-url-here?ssl=true
DEVELOPMENT_DATABASE_URL="postgresql://postgres@localhost:5432/postgres"
TEST_DATABASE_URL=enter-your-test-database-url-here
PREVIEW_DATABASE_URL=enter-your-preview-database-url-here
LOG_LEVEL=info
